<app-message [messageInfo]="messageService.messageInfo"></app-message>
<div class="container-md">
  <nav ngbNav #nav="ngbNav" class="nav-tabs nav-fill">
    <ng-container ngbNavItem>
      <a ngbNavLink>Lista de afiliados</a>
      <ng-template ngbNavContent>
        <div class="d-flex justify-content-end mb-3">
          <app-modal [options]="{size:'lg', scrollable:true}" [showModalButtonText]="'Crear afiliado'"
            [modalHeader]="'Creación de afiliado'">
            <app-add-store-form>
            </app-add-store-form>
          </app-modal>
        </div>

        <div class="overflow-scroll" style="height: 60vh;">
          <app-table [tableColumns]="tableColumns" [tableData]="tableData" rowIDKey="id"></app-table>
        </div>
      </ng-template>
    </ng-container>

    <ng-container ngbNavItem>
      <a ngbNavLink>Solicitudes de afiliación</a>
      <ng-template ngbNavContent>
        ----------------> Contenido 2<---------------- </ng-template>
    </ng-container>
  </nav>

  <div [ngbNavOutlet]="nav" class="mt-2"></div>

</div>