<div class="container-md">
    <h3 class="text-center mb-3">Productos</h3>
    <div class="d-flex justify-content-end mb-3">
        <app-modal [options]="{size:'lg', scrollable:true}" [showModalButtonText]="'Agregar producto'"
            [modalHeader]="'Nuevo producto'">
            <!-- <app-add-product-form></app-add-product-form> -->
        </app-modal>
    </div>
    <div class="overflow-scroll" style="height: 60vh;">
        <app-table [tableColumns]="tableColumns" [tableData]="tableData" rowIDKey="barCode"></app-table>
    </div>
</div>