
    <div class="row mb-3">
        <div class="col">
            <label class="form-label" for="nameInput">Name:</label>
            <input class="form-control" id="nameInput" type="text" formControlName="name">
        </div>
    </div>

    <div class=" row mb-3">
        <div class="col">
            <label class="form-label" for="priceInput">Price:</label>
            <input class="form-control" id="priceInput" type="number" formControlName="price">
        </div>
        <div class="col">
            <label class="form-label" for="idInput">Category:</label>
            <input class="form-control" id=" idInput" type="text" formControlName="id">
        </div>
    </div>

    <div class=" row mb-3">
        <div class="col">
            <label class="form-label" for="priceInput">Image Upload:</label>
            <input class="form-control" id="priceInput" type="file" formControlName="photoId">
        </div>
    </div>



