<div class="container-md">
    <h3 class="text-center mb-3">Pedidos</h3>
    <app-modal [options]="{size:'lg', scrollable:true}" [showModalButtonText]="'i'" 
        [modalHeader]="'Detalle de Entrega'">
        <!-- https://mdbootstrap.com/docs/standard/extended/order-details/#section-basic-example -->
        <div class="modal-body text-start text-black p-4">
            <p class="text-muted mb-3"> Enviar a <span class="fw-bold text-body">Tres Ríos, Cartago, Costa Rica </span></p>
            <p class="text-muted mb-0"> Para <span class="fw-bold text-body">Adri</span> </p>
            <p class="text-muted mb-3"> Asignado a <span class="fw-bold text-body">Piplup</span> </p>
            <h5 class="modal-title text-uppercase mb-2" id="exampleModalLabel"></h5>
            <h4 class="mb-2" style="color: #0E8876;">ID 1222528743</h4>
            <p class="mb-0" style="color: #0E8876;">Detalle de pago</p>
            <hr class="mt-2 mb-4" style="height: 0; background-color: transparent; opacity: .75; border-top: 2px dashed #9e9e9e;">
            <div class="d-flex justify-content-between">
                <p class="small mb-0">McNuggets</p>
                <p class="small mb-0">2</p>
                <p class="small mb-0">$1</p>
            </div>
            <div class="d-flex justify-content-between">
                <p class="fw-bold">Total</p>
                <p class="fw-bold" style="color: #0E8876;">$2125.00</p>
            </div>
        </div>
        </app-modal>
    <h4 class="text-center mb-3">Listo para Entrega</h4>
    <div class="overflow-scroll" style="height: 60vh;">
        <app-table [tableColumns]="tableColumns" [tableData]="tableData" rowIDKey="id"></app-table>
    </div>
    <h4 class="text-center mb-3">En camino</h4>
    <div class="overflow-scroll" style="height: 60vh;">
        <app-table [tableColumns]="tableColumns" [tableData]="tableData" rowIDKey="id"></app-table>
    </div>
    <h4 class="text-center mb-3">Entregado</h4>
    <div class="overflow-scroll" style="height: 60vh;">
        <app-table [tableColumns]="tableColumns" [tableData]="tableData" rowIDKey="id"></app-table>
    </div>
</div>
