<section class="h-50 gradient-custom">

    <div class="container py-1">
        <h3 class="mb-0"><span class="fw-bold text-body">
                {{storeName}} 
            </span></h3>
            <h4 class="mb-0">Menu</h4>
        <div class="row d-flex justify-content-center my-6">
            <div class="col-md-12">


            </div>
            <div class="card-body">
                <div class="overflow-scroll" style="height: 60vh;">
                    <app-table [tableColumns]="tableColumns" [tableData]="tableData" rowIDKey="barCode"></app-table>
                </div>
            </div>
            <a class="btn btn-lg btn-primary py-3 w-100" href="client/stores/{{s}}/cart">Mi Carrito</a>
        </div>

    </div>