<section class="h-50 gradient-custom">

    <div class="container py-1">
        <h3 class="mb-0"><span class="fw-bold text-body">
            {{storeName}}
        </span></h3>
        <div class="row d-flex justify-content-center my-4">
            
            <div class="col-md-8">
                <div class="card mb-1">
                    <div class="card-header py-3">
                        <h5 class="mb-0">Menu</h5>
                    </div>
                    <div class="card-body">
                        <div class="overflow-scroll" style="height: 60vh;">
                            <app-table [tableColumns]="tableColumns" [tableData]="tableData" rowIDKey="barCode"></app-table>
                        </div>  
                    </div>
            
                </div>
            
            </div>


    