<div class="container-sm">
    <h4 class="text-center mb-3">Información de administrador</h4>

    <app-info-card [infoTitles]="managerInfoTitles" [info]="manager"></app-info-card>

    <div class="d-flex justify-content-between mt-3">
        <div class="d-flex gap-2">
            <app-modal [options]="{size:'lg', scrollable:true}" [showModalButtonText]="'Editar empleado'"
                [modalHeader]="'Edición de empleado'">

                <app-edit-store-manager-form [managerInfo]="managerCopy"></app-edit-store-manager-form>
            </app-modal>
        </div>
    </div>
</div>