<div class="flex-column-center my-2" >
    <div class="flex-start">
        <img src="assets/logo.png" alt="Logo-UbyTEC" width="150" >
        <h1 class="fs-6 text-center m-1">Cliente</h1>
        <a class="btn btn-lg btn-primary py-3 w-100" href="client/cart">Mi Carrito</a>
    </div>
</div>



<div class="row gap-5 w-100">
            
    <div class="col p-0">
        <app-client-business></app-client-business>
    </div>
    <div class="col p-0">
        <app-client-recents></app-client-recents>
    </div>

</div>
