/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import "bootstrap-icons/font/bootstrap-icons.css";

@import "./variables.scss";

@import "./components/button.scss";
@import "./components/text.scss";
@import "./components/image.scss";
@import "./components/form.scss";



body {
  background-color: #007F70;
}




.full-container {
  width: 100vw;
  height: 100vh;
}

.place-center {
  display: grid;
  place-items: center;
}

.flex-row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}