<div class="form-outline form-white mb-4">
    <label class="form-label" for="typeName">Servicio del Repartidor</label>
    <input type="text" id="typeName" class="form-control form-control-lg" size="17" 
    placeholder="El repartidor fue..." />    
</div>
<div class="form-outline form-white mb-4">
    <label class="form-label" for="typeText">Servicio del Comercio</label>
    <input type="text" id="typeText" class="form-control form-control-lg" size="17"
        placeholder="El comercio fue..." minlength="19" maxlength="19" />
</div>
<div class="col p-0">
    <a class="btn btn-lg btn-primary py-3 w-100" href="client/menu">Calificar</a>
</div>

