<nav ngbNav #nav="ngbNav" class="bg-light m-0 nav-tabs nav-fill position-sticky top-0">
  <ng-container ngbNavItem>
    <a ngbNavLink>Datos de comercio</a>
    <ng-template ngbNavContent>
      <app-store-form [formGroup]="store" [storeInfo]="storeInfo"></app-store-form>
    </ng-template>
  </ng-container>

  <ng-container ngbNavItem>
    <a ngbNavLink>Datos de administrador</a>
    <ng-template ngbNavContent>
      <app-store-manager-form [formGroup]="manager" [managerInfo]="managerInfo"></app-store-manager-form>
    </ng-template>
  </ng-container>
</nav>

<div [ngbNavOutlet]="nav" class="mt-2"></div>

<div class="d-flex justify-content-end">
  <button (click)="onSubmit()" class="btn btn-success btn-lg">
    {{ storeDataInfo ? 'Editar' : 'Crear'}}
  </button>
</div>