.btnLess {
    background: black;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    width: 50;
    height: 50;
  }

  .btnMore {
    background: black;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    width: 50;
    height: 50;
  }

  .btnTrash {
    background: black;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    width: 50;
    height: 50;
  }

  h4 {
    color: #FFCE17;
  }
