<div class="card mb-4 px-4">
    <div class="card-header py-3">
        <h5 class="mb-0">Carrito</h5>
    </div>
    <div class="row mb-3">
        <div *ngFor="let product of productNamesInCart; let i = index" class="d-flex justify-content-between">
            <div class="col">
                <label class="form-label" for="productNameInput">Producto: </label>
                <h4 class="form-label" for="productNameInput">{{product}}</h4>
            </div>
            <div class="col">
                <label class="form-label" for="quantityInput">Cantidad:</label>
                <input class="form-control" id="quantityInput" type="text" placeholder={{productQuantityInCart[i]}} formControlName="quantity">
            </div>
        </div>
        
    </div>



</div>
