<form [formGroup]="this.formsService.form" (ngSubmit)="onSubmit()">
<div class="card mb-4 px-4">
    <div class="card-header py-3">
        <h5 class="mb-0">Carrito</h5>
        <p class="text-muted mb-0"> Comercio <span class="fw-bold text-body">{{storeName}}</span> </p>
    </div>
    <div class="row mb-3">
        <div *ngFor="let product of productIDsInCart; let i = index" class="d-flex justify-content-between">
            <div class="col">
                <label class="form-label" for="productNameInput">Producto: </label>
                <h4 class="form-label" for="productNameInput">{{productNameInCart[i]}}</h4>
            </div>
            <div class="col">
                <label class="form-label" for="priceInput">Precio:</label>
                <h5 class="form-label" for="priceInput">{{productPriceInCart[i]}}</h5>

            </div>
            <div class="col">
                <label class="form-label" for="quantities">Cantidad:</label>
                <input class="form-control" id="quantities" type="number" placeholder={{productQuantityInCart[i]}} formControlName="quantities">
            </div>
        </div>
        <div class="d-flex justify-content-end">
            <input type="submit" class="btn btn-success btn-lg" value="Confirmar cambios">
        </div>
        <app-modal [options]="{size:'lg', scrollable:true}" [showModalButtonText]="'Realizar pedido'">

            <app-view-order-client-form ></app-view-order-client-form>
        </app-modal>

    </div>



</div>
</form>