<!-- https://mdbootstrap.com/docs/standard/extended/order-details/ -->
<div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12">
            <div class="card card-stepper text-black" style="border-radius: 16px;">

                <div class="card-body p-5">

                    <div class="d-flex justify-content-between align-items-center mb-5">
                        <div>
                            <h5 class="mb-0">Su pedido está en camino. </h5>
                        </div>
                        <div class="text-end">

                            <app-modal [options]="{size:'lg', scrollable:true}"
                                [showModalButtonText]="'Recibir Pedido'" [modalHeader]="'Califique su Pedido'">
                                <app-add-feedback-form></app-add-feedback-form>
                            </app-modal>

                        </div>
                    </div>

                    <ul id="progressbar-2" class="d-flex justify-content-between mx-0 mt-0 mb-5 px-0 pt-0 pb-2">
                        <li class="step0 active text-center" id="step1"></li>
                        <li class="step0 active text-center" id="step2"></li>
                        <li class="step0 active text-center" id="step3"></li>
                        <li class="step0 text-muted text-end" id="step4"></li>
                    </ul>

                    <div class="d-flex justify-content-between">
                        <div class="d-lg-flex align-items-center">

                            <div>
                                <p class="fw-bold mb-1">Pedido</p>
                                <p class="fw-bold mb-0">Procesado</p>
                            </div>
                        </div>
                        <div class="d-lg-flex align-items-center">

                            <div>
                                <p class="fw-bold mb-1">Pedido</p>
                                <p class="fw-bold mb-0">Alistado</p>
                            </div>
                        </div>
                        <div class="d-lg-flex align-items-center">

                            <div>
                                <p class="fw-bold mb-1">Pedido</p>
                                <p class="fw-bold mb-0">En Ruta</p>
                            </div>
                        </div>
                        <div class="d-lg-flex align-items-center">

                            <div>
                                <p class="fw-bold mb-1">Pedido</p>
                                <p class="fw-bold mb-0">Llegó</p>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>