/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import "bootstrap-icons/font/bootstrap-icons.css";

body {
  background-color: #007F70;
}

/* https://bootsnipp.com/snippets/Gl29g */
.btn {
  background: #fc4a1a;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFCE17, #17FFDF);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFCE17, #FF8766); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
  border: 3px solid #eee;
}

.full-container {
  width: 100vw;
  height: 100vh;
}

.place-center {
  display: grid;
  place-items: center;
}

.flex-row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}