<div class="flex-column-center my-5">
    <div class="flex-start">
        <img src="assets/logo.png" alt="Logo-UbyTEC" width="150">
        <h1 class="fs-6 text-center m-1">Afiliado</h1>
    </div>

    <h3 class="text-center m-0">
        Bienvenido, <span class=" fw-bold d-inline"> {{managerUsername}} </span>
    </h3>
</div>

<div class="flex-column-center w-100 px-5">
    <nav class="d-flex flex-column gap-5 align-items-center justify-content-center w-75 h-100">
        <div class="row gap-5 w-100">
            <div class="col p-0">
                <a class="btn btn-lg btn-primary py-3 w-100" href="member/administration">Administración</a>
            </div>
            <div class="col p-0">
                <a class="btn btn-lg btn-primary py-3 w-100" href="member/product_management">Gestión de productos</a>
            </div>
            <div class="col p-0">
                <a class="btn btn-lg btn-primary py-3 w-100" href="member/orders">Gestión de pedidos</a>
            </div>
        </div>
    </nav>
</div>