.btn {
    background: #fc4a1a;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFCE17, #17FFDF);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFCE17, #FF8766);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    border: 3px solid antiquewhite;
    width: max-content;
    height: fit-content;
  }

